#footer {
    display: flex;
    justify-content: center;
    background-color: #f7b519;
    box-shadow: -1px 3px 10px black;
}

#footer > footer {
    color: white;
    padding: 5rem 5rem 1rem 5rem;
}